.link-box {
    position: relative; /* برای قرار دادن لوگو در گوشه باکس */
    background-color: #333;
    padding: 20px 25px;
    border-radius: 12px;
    width: calc(100% / 3 - 40px);
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.github-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.github-logo:hover {
    transform: scale(1.2);
}
